/* Reset & generic styles */

:root{
	font-size: 16px;
}

/* Variables */
:root{
	--standard-box-shadow: 0px 2px 4px rgba(0, 0, 0, .18);
	--standard-emphasis: hsl(0, 0, 15%);
}

*{
	letter-spacing: 1;
	line-height: 2;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

h1{
	color: rgba(0, 0, 0);
	font-size: 3em;
	font-size: calc(3em +1vw);
	font-weight: 600;
	line-height: 1.1;
}

h2{
	color: rgba(0, 0, 0, .9);
	font-size: 2em;
	font-size: calc(2em +1vw);
	font-weight: 600;
	line-height: 1.2;
}

h3{
	color: rgba(0, 0, 0, .9);
	font-size: 1.5em;
	font-size: calc(1.5em +1vw);
	font-weight: 600;
	line-height: 1.3;
}

p{
	color: rgba(0, 0, 0, .7);
	color: hsl(0, 0, 37%);
	font-size: 1em;
	font-size: calc();
	font-weight: 400;
	line-height: 1.6;
}

li{
	position: relative;
	padding-left: 2rem;

	line-height: 1.6;
	margin-bottom: 1rem;
}

li:before{
	content: '';
	width: 1rem;
	height: 1rem;
	top: 0;
	left: 0;
	position: absolute;
	background: url(bullet-icon.svg);
}

/* Layout */